node_modules/
.idea
.idea/
.idea/*
dist/
build/
cache/
packages/**/.turbo
internal/**/.turbo
.turbo/config.json
.turbo/cookies
.env
.env.local
.env.development
.env.production
.env.*
*.mjs
!*.config.mjs
coverage/
.DS_Store
*.log
.turbo

docs/
