always-auth=true
registry=https://registry.npmjs.org/

# For Saas UI Pro packages
@saas-ui-pro:registry=https://npm.saas-ui.dev
//npm.saas-ui.dev/:_authToken=${NPM_CONFIG_AUTH_TOKEN}
//npm.saas-ui.dev/:always-auth=true
//npm.saas-ui.dev/:registry=https://npm.saas-ui.dev

# For other Saas UI packages
@saas-ui:registry=https://npm.saas-ui.dev
//npm.saas-ui.dev/:_authToken=${NPM_CONFIG_AUTH_TOKEN}
//npm.saas-ui.dev/:registry=https://npm.saas-ui.dev

# Keep using npm for other scoped packages
@dnd-kit:registry=https://registry.npmjs.org/ 