always-auth=true
registry=https://registry.npmjs.org/

# For Saas UI Pro packages
@saas-ui-pro:registry=https://npm.saas-ui.dev/
//npm.saas-ui.dev/:_authToken=${SAAS_UI_AUTH}
//npm.saas-ui.dev/:npmAuthIdent=${SAAS_UI_AUTH}
//npm.saas-ui.dev/:always-auth=true

# For other Saas UI packages
@saas-ui:registry=https://npm.saas-ui.dev/
//npm.saas-ui.dev/:_authToken=${SAAS_UI_AUTH}
//npm.saas-ui.dev/:npmAuthIdent=${SAAS_UI_AUTH}
//npm.saas-ui.dev/:always-auth=true

# Keep using npm for other scoped packages
@dnd-kit:registry=https://registry.npmjs.org/ 